body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir Next', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  font-size: 50px;
  font-weight: normal;
}

h1,
h2 {
  margin: 0;
}

.empty {
  width: 200px;

}

.button-wrapper {
  margin: 0 20px;
}

.logo-image {
  width: 45px;
  height: 45px;
  background-image: url(assets/running.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-up {
  padding: 5px 20px;
  margin: 0 5px;
  font-size: 16px;
  background-color: rgba(122, 158, 159, 0.47);
  color: #4F6367;
  border: 1px solid #979797;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  padding: 15px;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 80%;
}

.calendar {
  display: flex;
  width: 100%;
  height: 25%;
  border: 1px solid #BDBDBD;
  background-color: #eef5db;
}

.day {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  border: 1px solid #BDBDBD;
  text-align: center;
}

.day-title {
  height: 40%;
  padding: 10px 0 0;
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.icon {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  background-color: #5b5d59;
}

.today {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  background-color: #eef5db;
}

.today-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 16.67%;
}

.cell-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #5b5d59;
}

.cell-info {
  display: flex;
  align-items: center;
}

.cell-title {
  margin: 0 10px;
}

.cell-input {
  margin-right: 10px;
  padding: 10px 5px;
  text-align: center;
  background-color: #f8e71c;
  border: none;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 80%;
  background-color: #fff;
}

.weekly {
  height: 60%;
  width: 100%;
  background-color: #eef5db;
  padding: 20px 0;
}

.weekly-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.weekly-cell-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

.monthly {
  height: 35%;
  width: 100%;
  background-color: #eef5db;
}

.weekly-cell {
  display: flex;
  align-items: center;
  width: 50%;
  height: 25px;
  /*margin-left: 10px;*/
  /*margin: 0 15px;*/
}

.weekly-cell-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5b5d59;
}

.weekly-cell-title {
  font-size: 16px;
  margin: 0 5px;
}

.weekly-cell-input {
  padding: 5px;
  text-align: center;
  background-color: #f8e71c;
  border: none;
  width: 70px;
}

.weekly-cell-info {
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 10px;
}

.monthly-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
}

.monthly {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circles-container {
  display: flex;
  justify-content: space-around;
}

.circle-div-for-now {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}
